---
layout: archive
title: "Notes"
permalink: /notes-archive/
author_profile: true
---

<ul style="list-style-type:none; padding-left:0">
{% for group in site.data.notes %}
    <li><big><b>{{ group.title }}</b></big>
        <br>{{ group.description }}
        <ul style="list-style-type:none">
        {% for file in group.files %}
            <li style="margin:0">
                <a href="{{ file.path }}", target="_blank">{{ file.title }}</a>
            </li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>

