---
layout: archive
---

{{ content }}

<p>
  I'm a computational biologist experienced in finding insights from complex datasets to advance research projects.
</p>
<p>
  I've worked with many data types, including data from novel assays requiring bespoke analysis methods.
</p>
<p>
  I emphasize deep understanding of the biology involved, reproducible data analysis, and effective communication of results, including first class data visualization.
</p>
<p>
  Check out some <a href="/projects/">projects I've worked on</a>, or my <a href="/notes/">notes on statistics and machine learning</a>.
</p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->
<!---->
<!-- {% for post in paginator.posts %} -->
<!--   {% include archive-single.html %} -->
<!-- {% endfor %} -->
<!---->
<!-- {% include paginator.html %} -->
